- 
    const characteristics = [
        'Weapon Skills',
        'Ballistic Skill',
        'Strength',
        'Toughness',
        'Agility',
        'Intelligence',
        'Perception',
        'Willpower',
        'Fellowship',
        'Influence'
    ];

- varObjects.attributesNames