article#character.character
    include ./sections/html/_header.html
    include ./sections/html/_characteristics.html
    include ./sections/_characteristics.pug
    include ./sections/html/_movementcarry.html
    include ./sections/html/_initiative.html
    include ./sections/html/_infographics.html
    include ./sections/html/_tabscontrol.html
    include ./sections/html/_coretab.html
    include ./sections/html/_equipmenttab.html
    include ./sections/html/_advancementtab.html
    include ./sections/html/_journaltab.html
    include ./sections/html/_vehicletab.html
    include ./sections/html/_psykanatab.html
    include ./sections/html/_settingtab.html
    include ./sections/html/_worker.html
    include ./sections/html/_rolltemplate.html

